@import "../colors.scss";
@import "../mixins.scss";

.catalog {
    display: flex;
    flex-grow: 2;
    width: 70%;
    justify-content: center;
    flex-wrap: wrap;
    height: 700px;
    overflow: auto;
}

.catalog__item {
    @include border;
    @include light-background;

    display: inline-block;
    width: 212px;
    align-self: flex-start;
    vertical-align: top;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;

    &:hover {
        border-color: $light-blue;
        box-shadow: 0 0 5px $light-blue;
    }

    & p {
        margin: 5px 0;
    }
}

.catalog__item--selected {
    border-color: $blue;
	box-shadow: 0 0 3px $light-blue;

    &:hover {
        border-color: $mid-blue;
    }
}

.catalog-item__link {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: $dark-grey;

    &:hover {
        background-color: $mid-blue;
        color: white;
    }
}

.catalog-item__footer {
	display: flex;
	justify-content: space-between;
	font-size: 0.8em;
	padding: 0 5px;
    color: darken($beige, 10%);
}
