@import "./normalize.css";

@mixin selected {
    border: 1px solid green;
}

* { box-sizing: border-box; }

.App-header__button--selected {
    @include selected;
}

.catalog__item {
    display: inline-block;
    width: 212px;
    border: 1px solid red;
    vertical-align: top;
    margin: 5px;
    padding: 5px;
}

.catalog__item--selected {
    @include selected;
    border-color: blue;
}

.filters__button--selected {
    @include selected;
}

.filters__button--disabled {
    opacity: 0.4;
}
