@import "./normalize.css";

* { box-sizing: border-box; }

.catalog-item {
    display: inline-block;
    width: 212px;
    border: 1px solid red;
    vertical-align: top;
    margin: 5px;
    padding: 5px;
}

.filters__button--selected {
    border: 2px solid green;
}

.filters__button--disabled {
    opacity: 0.4;
}
