@import url(./normalize.css);
* {
  box-sizing: border-box; }

.App-header__button--selected {
  border: 1px solid green; }

.catalog__item {
  display: inline-block;
  width: 212px;
  border: 1px solid red;
  vertical-align: top;
  margin: 5px;
  padding: 5px; }

.catalog__item--selected {
  border: 1px solid green;
  border-color: blue; }

.filters__button--selected {
  border: 1px solid green; }

.filters__button--disabled {
  opacity: 0.4; }
