$light-grey: #f8f7f4;
$mid-light-grey: #eee;
$grey: #8c95a4;
$dark-grey: #333;
$beige: #d0cab6;

$purple: #303f9f;
$dark-blue: #1565c0;
$blue: #1e88e5;
$mid-blue: #4ca0ea;
$light-blue: #79b8f0;

$background: $mid-light-grey;
$header-background: $light-grey;
$header-border: $grey;
