@import "./colors.scss";

@mixin selected {
    background-color: $blue;

    &:hover {
        background-color: lighten($blue, 10%);
        color: white;
    }
}

@mixin border {
    border: 1px solid $beige;
}

@mixin light-background {
    background: $light-grey linear-gradient(145deg, lighten($light-grey, 1%) 30%, $light-grey 100%);
}

@mixin transitions {
    transition: all 0.5s ease;
}
